@font-face {
    font-family: Geneva;
    src: url(/tingbot/Geneva.ttf);
}

body, .ui-btn {
    font-family: Geneva;
}

.ui-icon-pause:after {
    background-image: url(/icons/av/2x_web/ic_pause_circle_outline_white_24dp.png);
    background-size: contain;
}

.ui-icon-play:after {
    background-image: url(/icons/av/2x_web/ic_play_circle_outline_white_24dp.png);
    background-size: contain;
}

.ui-icon-next:after {
    background-image: url(/icons/av/2x_web/ic_skip_next_white_24dp.png);
    background-size: contain;
}

.ui-icon-prev:after {
    background-image: url(/icons/av/2x_web/ic_skip_previous_white_24dp.png);
    background-size: contain;
}

.ui-icon-vol-down:after {
    background-image: url(/icons/av/2x_web/ic_volume_down_white_24dp.png);
    background-size: contain;
}

.ui-icon-vol-mute:after {
    background-image: url(/icons/av/2x_web/ic_volume_mute_white_24dp.png);
    background-size: contain;
}

.ui-icon-vol-up:after {
    background-image: url(/icons/av/2x_web/ic_volume_up_white_24dp.png);
    background-size: contain;
}

.my-big-button {
    height: 50px;
    width: 50px;
}

.my-big-button:after {
    height: 50px;
    width: 50px;
    margin: 0;
    left: 0;
    top: 0;
}

.my-full-width-button {
    width: 100%;
}

.my-full-width-button:after {
    width: 100%;
}